<% include ./partials/header %>


<div>
	<header class="jumbotron jumbotron-fluid text-left" id="gcJumbo">
		<div class="container">
			<h1 class="gcHeader">
				Load the GC Don’t Hoard the TP
			</h1>
			
		</div>
	</header>	
</div>

<div class="container mt-3 mb-3">
	
</div>

<div class="container mt-3 mb-3">
	<div class="row">
		<div class="col-lg-8 text-left">
			<p class="jumBody mb-0">
			Give thanks to healthcare professionals in our community
			</p>
			<p class="textColor pt-0">
				The current Covid-19 situation is emotionally draining for many, but we trust that love and solidarity always shed light in darkness.  During this uncertain time, Everbean wants to bring what we do best to those who deserve the most - our hardworking healthcare professionals at Peace Arch Hospital, as well as right where we are located, at Hilltop Medical Clinic.
			</p>
			<p class="textColor mb-0">
				We invite the community to join our initiative to <strong>give thanks to the healthcare professionals by keeping them caffeinated and nourished.</strong> 
			</p>
			<p class="textColor pt-0">
				Simply put:  <strong> <i>Load the GC, don’t hoard the TP.</i></strong> 
			</p>
			<p class="jumBody mb-0">
				How it works:
			</p>
			<p class="textColor pt-0">
				We have dedicated two gift cards (GCs), one for Peace Arch Hospital, and the other for Hilltop Medical Clinic, for the collective loading by anyone who wishes to buy the healthcare professionals a coffee or a bite to eat.  To load the GC, call Everbean at <a href="tel:604-531-3383">604-531-3383</a> with a credit card, or send e-transfer to <a href="mailto:helloeverbean@gmail.com">helloeverbean@gmail.com</a>. 
Alternatively, you can load the designated gift cards in person or soon, online.
			</p>
			<p class="jumBody mb-0">
				How we deliver:
			</p>
			<p class="textColor pt-0">
				Whenever there is a change in gift card balance, the growing total or the cash out for delivery will be announced at 3:30pm on the day of. Once the collected balance reaches $100 or more, we will convert the funds into coffee, pastries/sandwiches, and schedule a drop off at Peach Arch Hospital or Hilltop Medical Clinic as designated by the loaded GC respectively.  Upon completion of a delivery, we will post a receipt to social media to show how the collected funds were spent.  In addition, if one wishes to send a drink or some treats to specific doctor/nurse/pharmacist/staff working in our same Abby Lane Health Centre building, we could delivery your appreciation with separate transaction.
			</p>
			<p class="jumBody mb-0">
				Call to action:
			</p>
			<p class="textColor pt-0">
				We invite fellow food service businesses whose kitchens are still open for take-out to consider joining this initiative.  Dedicate collectively funded food/drink drops at many essential service providers in our community.  Now is the time for all of us to show our appreciation for their hard work and sacrifice, without merely holding the thoughts in our minds.
			</p>
		</div>
	</div>
</div>

<div class= "container">
	<div class="row">
		<div class="col-lg-8 text-left">
			<hr class="style1">
		</div>
	</div>
</div>


<div class="container mt-3 mb-3">
	<div class="row">
		<div class="col-lg-8 text-left">
			<p class = "jumBody mb-0">
				Backstory on how we arrived at this initiative:
			</p>
			<p class="textColor pt-0">
				As you may already know, Everbean is located in the lobby of Hilltop Medical Clinic, along side the walk-in clinic, LifeLab, Rexall Pharmacy and more.  Our unique location has made many of our regular, healthy customers stopped visiting which we commend and encourage whole-heartedly.  However, it is exactly our location that instill in us a sense of duty that we should remain open to continue serving the doctors, nurses, pharmacists, and patients whom either work in the building, or must visit the building at this uncertain time.  				
			</p>
			<p class="textColor">
				Since the pandemic began in late March 2020, a few doctors and nurses came by to load up their gift cards to keep our small business going. Several of them bought their colleagues coffee, and encourage others to purchase food and drinks from our little cafe.  Throughout the week, friends, fellow small business owners, and a few regulars dropped by to stock up on coffee beans/tea for home; to purchase suspended coffee or gift cards for others, and to wave hello from a distance.  Some sent thoughtful messages and words of encouragement.  Your love and kindness are something we could never express our gratitude enough.  We are in this together and we want to contribute in the best way we know how. 
			</p>
			
		</div>
	</div>
</div>

<% include ./partials/footer %>