<% include ./partials/header %>
<div>
	<header class="jumbotron jumbotron-fluid text-left" id="gcJumbo">
		<div class="container">
			<h1 class="jumHeader">
				Load the GC Don’t Hoard the TP
			</h1>
			<p class="jumBody">
				Give thanks to our local healthcare professional by keeping them caffeinated and nourished
			</p>
		</div>
	</header>	
</div>

<div class="container mt-3 mb-3">
	<div class="row">
		<div class="col-lg-8 text-left">
			<p class="textColor">
				Hello~ The current Covid-19 situation is emotionally draining for many, but we trust that love and solidarity always shed light in darkness. During this uncertain time, we want to bring what we do best to those who deserve the most - our healthcare professionals at nearby Peace Arch Hospital, and also right where we are, at Hilltop Medical Clinic.
			</p>	
			<p class="textColor">
				We would like to invite all of you to join Everbean’s initiative to <strong>GIVE THANKS</strong> to the <strong>HEALTHCARE PROFESSIONALS</strong> in our community <i>by keeping them caffeinated and nourished. </i>
			</p>
			<p class="textColor">
				Simply put: <strong>Load the GC, don’t Hoard the TP</strong>
			</p>
			<p class="jumBody">
				Here’s how it works:
			</p>
			<p class="textColor">
				Starting on Monday, March 23, we will be dedicating two gift cards - one for Peace Arch Hospital and the other for Hilltop Medical Clinic - for the collective loading by anyone who wants to buy the healthcare professionals a coffee or a bite to eat. You can do so by calling 604-531-3383 with a credit card or e-transfer to helloeverbean@gmail.com (recommended). Alternatively, while picking up beans/pre-orders for take-away strictly, you can add to either of the two gift cards. 
			</p>
			<p class="textColor">
				Each transaction will be documented with the growing total announced at 3:30pm each day. Once the collective balance reaches $100 or more, we will convert the funds into coffee, pastries/sandwiches, and schedule a drop off at Peach Arch Hospital or Hilltop Medical Clinic as dictated by the loaded gift cards respectively. Once a delivery is completed, we will post a receipt to social media to show how the collected funds were spent. In addition, if you wish to send a drink or some treats to specific doctor/nurse/pharmacist/staff working in our same building, we could deliver your appreciation with separate transaction.
			</p>
			<p class="textColor">
				To other fellow food services, if your kitchens are still open for take-out, consider joining this initiative by dedicating collectively funded food/drink drops to many essential service providers in our community! 
			</p>
			<p class="textColor">
				With Love and Gratitude,
			</p>
			<p class="textColor">
				Team Everbean
			</p>
		</div>
	</div>
</div>

<div class= "container">
	<div class="row">
		<div class="col-lg-8 text-left">
			<hr class="style1">
		</div>
	</div>
</div>


<div class="container mt-3 mb-3">
	<div class="row">
		<div class="col-lg-8 text-left">
			<p class = "jumBody">
				Backstory on how we arrived at this initiative:
			</p>
			<p class="textColor">
				As you may already know, Everbean is located in the lobby of Hilltop Medical Clinic, along side the walk-in clinic, LifeLab, Rexall Pharmacy and more.  Our unique location has made many of our regular, healthy customers stopped visiting which we commend and encourage whole-heartedly.  However, it is exactly our location that instill in us a sense of duty that we should remain open to continue serving the doctors, nurses, pharmacists, and patients whom either work in the building, or must visit the building at this uncertain time.  				
			</p>
			<p class="textColor">
				Early last week, several doctors came by to load up their gift cards to help keep our small business going.  Several of them bought their colleagues coffee, and encourage others to purchase food and drinks from our little cafe.  Throughout the week, friends, fellow small business owners, and a few regulars dropped by to stock up on coffee beans/tea for home; to purchase suspended coffee or gift cards for others, and to wave hello from a distance.  Some sent thoughtful messages and words of encouragement.  Your love and kindness are something we could never express our gratitude enough.  We are in this together and we want to contribute in the best way we know how. 
			</p>
			
		</div>
	</div>
</div>

<% include ./partials/footer %>