<% include ./partials/header %>

<div>
	<header class="jumbotron jumbotron-fluid text-left" id="loveJumbo">
		<div class="container">
			<h1 class="jumHeader">Give Love Get Love</h1>
			<p class="jumBody">
				Everbean's Community Initiative
			</p>
		</div>
	</header>	
</div>
<div class="container">
	<div class="text-left">
		<h3 class="heading">
			Everbean's Rewards Program
		</h3>
		<p class="paraFont textColor">
			Buying a cup of coffee can go beyond the simple give and take of business transaction. In making a purchase of a latte (or any espresso-based beverage) as part of a daily ritual, the customer is involved in supporting a local charity of his/her choice. Enjoying a well crafted drink becomes a small act of strengthening the local community. Making a purchase with no added costs to the customer becomes a continuous fundraising source for our local charities in need. Give and take and give becomes a cycle of goodness within our community. 
		</p>
		<p class="paraFont textColor">
		Our Give Love Get Love Gift and Loyalty card works in three ways: Be good to yourself (earn yourself a free drink by redeeming 10 points); be kind to others (pass on your free drink as a Suspended Coffee posted on our column for anyone who may need a drink); be supportive of your local charities (choose one from our three selected beneficiaries - Peace Arch Hospital Foundation, Sources Food Bank, and BC SPCA - we will donate $5 to your chosen charity when you redeem 20 points.) Ask to join our initiative when you stop in for an amazing latte!	
		</p>
	</div>
	<!-- How to use gift card -->
        <div id="Steps" class="row justify-content-around my-5">
            <div class="col-lg-2 mb-4 mb-lg-0">
                <div class="card h-100">
                    <img src="imgs/giveLove/giftCards.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Step 1</h5>
                        <p class="card-text">Get a free Loyalty card</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 mb-4 mb-lg-0">
                <div class="card h-100">
                    <img src="imgs/giveLove/oneOne.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Step 2</h5>
                        <p class="card-text">Purchase any espresso-based drink to earn 1 point</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 mb-4 mb-lg-0">
                <div class="card h-100">
                    <img src="imgs/giveLove/heartCap.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Step 3</h5>
                        <p class="card-text">Start collecting points to earn rewards</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 mb-4 mb-lg-0">
                <div class="card h-100">
                    <img src="imgs/giveLove/4drinks.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">10 Points</h5>
                        <p class="card-text">Treat yourself to a free drink or suspend a coffee for someone in need</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 mb-4 mb-lg-0">
                <div class="card h-100">
                    <img src="imgs/giveLove/loveDrink.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">20 points</h5>
                        <p class="card-text">Choose a local charity and we'll donate $5 on your behalf</p>
                    </div>
                </div>
            </div>
        </div>
	

</div>
<% include ./partials/footer %>