<% include ./partials/header %>



<!-- Hot choco fest banner -->
<img class="homePagePic" src="../imgs/HomePagePic.png">
<div class="hotCocoFest">
	<div class="container text-center py-2">
		<a class="hotCocoText" href="/menu">Online ordering available for pick up here!</a>
		
	</div>
</div>

<div class="container mt-3 mb-3">
	<div class="row">
		<div class="col-lg-8 text-left">
			<p class="jumBody">
				A small group of service enthusiasts who are passionate about great coffee and awesome food, made with love and served with care
			</p>	
		</div>
	</div>
</div>

<div class="container pb-4">
	<div class="row pb-4">
		<div class="col-lg-8 text-left">

			
			<p class="textColor">
				Everbean Cafe is designed with the idea of prospect and refuge in mind. Located in the lobby of busy Hilltop Medical/Abby Lane Health Centre, it is a prospect where local information can be relayed; daily news can be exchanged, and spontaneous meeting can be facilitated.
			</p>
			<p class="textColor">
				With spacious seating, plenty of natural light and an outdoor garden patio, it is also a refuge where daydreams are protected; self-care is encouraged, and spirit can be recharged. 
			</p>
			<p class="textColor">
				Welcome, we look forward to serving you! 
			</p>
		</div>
		<div class="col-md-6">
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 text-left">
			<div>
				<h3>
					Find us at:
				</h3>
				<p class="textColor">
				  <a href="https://www.google.com/maps/place/Everbean+Caf%C3%A9/@49.031418,-122.7987692,15z/data=!4m5!3m4!1s0x0:0x8e47dfd2db9bacbf!8m2!3d49.031418!4d-122.7987692">#106-15331 16th Avenue, Surrey, BC V4A 0C1</a>
				</p>	
				<p class="textColor">
					Free underground parking available. Access via 16A Avenue.
				</p>
			</div>
			<div>
				<h3>
					Open:
				</h3>
				<p class="textColor">
					Monday - Friday: 8am - 3pm
				</p>
				<p class="textColor">
					Saturday - Sunday: Closed
				</p>
				<p class="textColor">
					Holidays: Closed
				</p>
			</div>
			<div>
				<h3>
					Contact:
				</h3>
				<p class="textColor">
					(604) 531-3383 
				</p>
				<p class="textColor">
					HelloEverbean@gmail.com
				</p>
			</div>
		</div>
		<div class="col-md-6 text-center google-maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10463.619122735092!2d-122.7987692!3d49.031418!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8e47dfd2db9bacbf!2sEverbean+Caf%C3%A9!5e0!3m2!1sen!2sca!4v1557930454338!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>	
</div>

<% include ./partials/footer %>
