<% include ./partials/header %>

<div>
	<header class="jumbotron jumbotron-fluid text-left" id="menuJumbo">
		<div class="container">
			<h1 class="jumHeader">
				Eat, Drink & be Merry
			</h1>
			<p class="jumBody">
				Food and drinks made with love & served with care
			</p>
		</div>
	</header>	
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-8 text-left pb-3">
			<p class="textColor">
				We make an assortment of items from scratch, ranging from craft syrups for specialty beverages, crunchy granola to top off yogurt parfaits, to delightful pastries and wholesome sandwiches to tempt your taste buds.
			</p>
			<p class="textColor">
				We also source carefully from local suppliers including: 49th Parallel Coffee Roasters, Lüna Coffee , Namasthe Tea Company, Healthy Hooch Kombucha, A Bread Affair, Pikanik, The Turkey House, and more!
			</p>
		</div>
	</div>
</div>

<div class="container">
                    <nav>
                        <div role="tablist">
                            <ul class="nav nav-pills nav-fill flex-column flex-md-row">
                                <li class="nav-item flex-sm-fill text-sm-center">
                                    <a class="nav-link tabhead tabSize active" data-toggle="tab" href="#sandwiches">SANDWICHES</a>
                                </li>
                                <li class="nav-item flex-sm-fill text-sm-center">
                                    <a class="nav-link tabSize tabhead" href="#salads" data-toggle="tab">Salads & Sides</a>
                                </li>
                                <li class="nav-item flex-sm-fill text-sm-center">
                                    <a class="nav-link tabSize tabhead" href="#coffee" data-toggle="tab">Coffee</a>
                                </li>
                                <li class="nav-item flex-sm-fill text-sm-center">
                                    <a class="nav-link tabSize tabhead" href="#tea" data-toggle="tab">Tea & Others</a>
                                </li>
                                <li class="nav-item flex-sm-fill text-sm-center">
                                    <a class="nav-link tabSize tabhead" href="#smoothie" data-toggle="tab">Smoothie & Frost</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="sandwiches">
                                <div class="row justify-content-around ">
									<div>
										<p class="container pt-4">
										Freshly made sandwiches on A Bread Affair’s organic bread with choice of
white Sourdough or brown Multigrain. Prefer your sandwich on Brioche Bun +1.00,
Croissant +1.00, or Pikanik Gluten Free Bun +1.50? Consider it done!
									</p>
									</div>
                                    <div class="col-md-5">
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Power Breakfast Burrito</span> - 8.25</p>
                                            <p>Eggs scrambled with quinoa, corn, black beans, salsa, and cheddar cheese all wrapped up
in a spinach tortilla shell. Served with a side of mild salsa.</p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Rise & Shine Breakfast Sandwich</span> - 7.95</p>
                                            <p>Baked sunny-side-up egg, ham, cheddar cheese, spinach, and dijon mustard mayo on a
toasted brioche bun. Add Bacon! +2.00</p>
                                        </div>
										<div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Better B.E.L.T</span> - 8.50</p>
                                            <p>A twist on the original B.L.T sandwich. Bacon, mixed greens, tomato, mayo with a baked
sunny-side-up egg. Add Hummus Spread! +1.00</p>
                                        </div>
										<div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Eggcelent Egg Salad Sandwhich</span> - 7.95</p>
                                            <p>Velvety egg salad made from scratch with finely diced hard boiled eggs, folded with mayo,
dash of seasoning and a touch of spice. Add Cucumber! +1.00 Add Mixed Greens! +1.00 Put some Bacon in to boot! +2.00 </p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Classic Ham Sandwich</span> - 8.95</p>
                                            <p>Prosciutto Cotto - aka real Italian cooked ham,, tomato, mixed greens, and dijon mustard
mayo. Add Cheddar Cheese! +1.00</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Gobble-up Turkey Sandwich</span> - 8.95</p>
                                            <p>Turkey breast, mixed greens, house made cranberry sauce, and gravy mayo. Add Havarti Cheese! +1.00.</p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Tasty Tuna Salad Sandwich</span> - 8.50</p>
                                            <p>House-made creamy tuna salad, tomato, mixed greens, and mayo.  Add Cheddar or Havarti Cheese for a tuna melt! +1.00 Add Bacon! +2.00 </p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Garden Delight Vegetarian Sandwich</span> - 8.50</p>
                                            <p>House-made hummus, carrot ribbons, cucumber and mixed greens. Add Pesto & Tomato! +2.00</p>
                                        </div>
										<div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Everbean Club Sandwich</span> - 12.00</p>
                                            <p>Think kitchen sink, but far tastier! Turkey breast, ham, bacon, cheddar cheese, tomato,
mixed greens, and ranch dressing. Double the meat! +3.00</p>
                                        </div>
										<div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Ooey Gooey Grilled 3-Cheese Sandwich</span> - 8.50</p>
                                            <p>Double slices of cheddar and havarti cheese plus a heaping spoonful of shredded
parmesan cheese and mayo. Add Pesto! +1.00</p>
											<p>
												Get the kid version with just two slices of cheddar cheese on bread. 5.50
											</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="salads">
                                <div class="row justify-content-around">
                                    <div class="col-md-5">
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Fresh Salad</span> - 8.25</p>
                                            <p>A bowl of mixed greens, carrot ribbons, cucumber, tomato, house-made croutons, and
your choice of ranch or vinaigrette dressing as the starting point. Then, get creative: Add Pesto or Hummus! +1.00 Add Ham or Turkey! +3.00 Add Tuna
Salad or Egg Salad! +3.00 Add Bacon & Hard Boiled Egg for a club salad!</p>
                                        </div>
                                            <div class="text-left pt-3">
                                                    <p class="mb-0"><span class="foodItem">Daily Soup</span></p>
                                                    <p class="mb-0">Large 6.95 | Small 4.50</p>
                                                    <p>Rotating selections of wholesome soup, slow simmered with local and seasonal ingredients. Get the Half Sandwich and Soup Combo! 11.50</p>
                                                </div>
                                        </div>
                                        <div class="col-md-5">
                                                
                                                <div class="text-left pt-3">
                                                    <P class="mb-0"><span class="foodItem">Mixed Berry Yogurt Parfait</span></P>
                                                    <p>House made mixed berry sauce on organic greek yogurt with crunchy granola</p>
                                                </div>
                                                <div class="text-left pt-3">
                                                    <P class="mb-0"><span class="foodItem">Vegan Chia Oatmeal</span></P>
                                                    <p>Overnight chia oatmeal cup topped with raspberries, walnuts, almonds and dried cranberries</p>
                                                </div>
                                                <div class="text-left pt-3">
                                                    <p class="mb-0"><span class="foodItem">Pastry</span></p>
                                                    <p>Array of fresh baked goods are here to tempt! Check out our pastry case</p>
                                                </div>
                                            </div>
                                </div>
                                </div>
                            <div class="tab-pane fade" id="coffee">
                                <div class="row justify-content-around">
									<div>
										<p class="container pt-4">
										Fresh beans locally sourced from Vancouver companies, 49th Parallel Coffee Roasters and
Lüna Coffee Roasters. All espresso-based drinks are made with double shot unless
specified otherwise. Most drinks can be made iced and served in 16oz. Please inquire!
Get a 25-cent discount when you bring your own reusable cup.
									</p>
									</div>
                                    <div class="col-md-5">
											<div class="text-left pt-3">
                                                <p class="mb-0"><span class="foodItem">Drip Coffee</span></p>
                                                <p>2.20 <span class="drinkSize">8oz</span>, 2.60 <span class="drinkSize">12oz</span>, 3.00 <span class="drinkSize">16oz</span></p>
                                            </div>
                                            <div class="text-left pt-3">
                                                <p class="mb-0"><span class="foodItem">Espresso</span></p>
                                                <p>Double shot straight up - 3.25 <span class="drinkSize">2oz</span></p>
                                            </div>
                                            <div class="text-left pt-3">
                                                <p class="mb-0"><span class="foodItem">Americano</span></p>
                                                <p>Espresso with water 3.25 <span class="drinkSize">8oz | 12oz | 16oz</span></p>
                                            </div>
											<div class="text-left pt-3">
                                                <p class="mb-0"><span class="foodItem">Pour Over Coffee</span></p>
                                                <p>Made fresh to order, by the cup with changing selections of light roast beans, using
Hario V60 dripper or Kalita Wave dripper. (market price) <span class="drinkSize">12oz</span></p>
                                            </div>
											<div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Macchiato</span></p>
                                            <p>Double shot of espresso with a small amount of steamed milk - 3.75 <span class="drinkSize">4oz</span></p>                                            
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Cortado</span></p>
                                            <p>Think miniature latte of espresso and a small amount of steamed milk. - 3.95 <span class="drinkSize">5oz</span></p>
                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Latte, Cappuccino, Flat White</span></p>
                                            <p class="mb-0">Essentially espresso with varying amount of steamed milk. You can call it what you like.
We will make it tasty! If you prefer the old school ultra foamy cappuccino, please specify
dry or extra foam when ordering.</p>
                                            <p>3.95 <span class="drinkSize">8oz</span>, 4.35 <span class="drinkSize">12oz</span>, 4.75 <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Traditional Flavoured Latte</span></p>
                                            <p class="mb-0">Espresso with milk and your choice of Vanilla, Sugar Free Vanilla, or Hazelnut syrup.</p>
                                            <p>4.70 <span class="drinkSize">8oz</span>, 5.10 <span class="drinkSize">12oz</span>, 5.50 <span class="drinkSize">16oz</span></p>
                                        </div>
										<div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Unique Everbean Recipe Latte</span></p>
                                            <p class="mb-0">Crafted from scratch, we take pride in creating deliciously unique drinks, such as the staple
Salted Brown Sugar Caramel Latte, Canadian Latte, and Mocha, plus an array of
ever-changing drinks per seasonal menu.</p>
                                            <p>4.95 <span class="drinkSize">8oz</span>, 5.35 <span class="drinkSize">12oz</span>, 5.75 <span class="drinkSize">16oz</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p class="drinkSize">* Oat, Soy, Almond and Coconut milk are available for extra charge</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tea">
                                <div class="row justify-content-around">
                                    <div class="col-md-5">
                                        <div class="text-left pt-3">
                                                <p class="mb-0"><span class="foodItem">Tea</span> - 3.10</p>
                                                <p>Loose leaf tea and tisane locally sourced from Namasthé Tea Company based in Whistler. <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">London Fog</span> - 4.95</p>
                                            <p>Steeped Earl Grey tea, vanilla syrup and steamed milk. <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Golden Fog Elixir</span> - 5.00</p>
                                            <p>Steeped caffeine-free rooibos tea, house-made ginger turmeric syrup and steamed milk. <span class="drinkSize">16oz</span></p>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Chai Latte</span></p>
                                            <p class="mb-0">Spiced tea concentrate and steamed milk</p>
                                            <p>4.00 <span class="drinkSize">8oz</span>, 4.40 <span class="drinkSize">12oz</span>, 4.80 <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Match Latte</span></p>
                                            <p class="mb-0">Premium Japanese matcha powder and steamed milk</p>
                                            <p>3.85 <span class="drinkSize">8oz</span>, 4.20 <span class="drinkSize">12oz</span>, 4.55 <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Hot Chocolate</span></p>
                                            <p class="mb-0">House made chocolate sauce and steamed milk</p>
                                            <p>3.50 <span class="drinkSize">8oz</span>, 3.85 <span class="drinkSize">12oz</span>, 4.20 <span class="drinkSize">16oz</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                        <p class="drinkSize">* Oat, Soy, Almond and Coconut milk are available for extra charge</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="smoothie">
                                <div class="row justify-content-around">
                                    <div class="col-md-5">
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Ever Green Smoothie</span>  - 6.25</p>
                                            <p>Cucumber, spinach, banana and apple juice. <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Berry Pink Smoothie</span> - 6.25</p>
                                            <p>Strawberry, raspberry, pineapple and apple juice. <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Mighty Gold Smoothie</span> - 6.25</p>
                                            <p>Banana, pineapple, ginger, turmeric, carrot and orange juice. <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Perfect Purple Smoothie</span> - 6.25</p>
                                            <p>Blueberry, strawberry, banana, Blume beet mix, cinnamon & apple juice. <span class="drinkSize">16oz</span></p>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Coffee Frost</span> - 6.50</p>
                                            <p>Espresso, sweet condensed milk, cream, ice and topped with whipped cream. <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Milkyway Frost</span> - 6.50</p>
                                            <p>Espresso, chocolate sauce, salted caramel syrup, cream, ice and topped with whipped cream. <span class="drinkSize">16oz</span></p>
                                        </div>
                                        <div class="text-left pt-3">
                                            <p class="mb-0"><span class="foodItem">Seasonal Frost</span> - 6.50</p>
                                            <p>we constantly dream up new drinks! Please check our seasonal menu in store. <span class="drinkSize">16oz</span></p>
                                        </div>
                                    </div>
                                <div class="text-center">
                                    <p class="drinkSize">* Add Protein Powder, Chia seeds, Blume Tumeric Mix, or Blume Beet mix for extra charge </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </nav>	
</div>

<!-- <div class = "text-center pb-4">
	<p>
		<a class="menu_link" href="./imgs/EverbeanMenu.jpg" target="_blank">See full Menu</a>
	</p>
</div> -->






<% include ./partials/footer %>