<% include ./partials/header %>
<!--
<div>
	<header class="jumbotron jumbotron-fluid text-left" id="catJumbo">
		<div class="container">
			<h1 class="jumHeader">
				Be Safe
			</h1>
		</div>
	</header>	
</div>
-->
<div class="container safety">
	<h1>Be Safe</h1>
</div>


<div class="container pb-3">
	<div class="justify-content-center healthCareProtocols">
			<p>
				We strive to keep you and our team safe and healthy.  Team Everbean has been wearing masks and carrying out strict cleaning-disinfecting protocols since beginning of the pandemic.  We stay current to any new Provincial Health Officer Orders and continue to adapt and follow through based on the latest policies.  We can’t do it alone.  Please take a moment to read the following:
			</p>
	</div>
</div>
<div>
	<div class="healthCareProtocols">
		<img src="../imgs/COVID19Protocols.png">
	</div>
</div>
<% include ./partials/footer %>